.delete-tripmate-button {
    visibility: hidden;
}

.tripmate-input-container:hover > .delete-tripmate-button {
    visibility: visible;
}


.delete-plan-button {
    visibility: hidden;
}

.plan-list-item:hover > .delete-plan-button {
    visibility: visible;
}
