
.App {
  text-align: center;
  display: flex;
  flex-direction: row;
}

.plan-container{
  width:70vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding:1rem;
  align-items: center ;
}