
.App {
  text-align: center;
  display: flex;
  flex-direction: row;
}

.plan-container{
  width:50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding:1rem;
  align-items: center ;
}

.plan-card{
  width:90%;

}
.plan-card CardContent{
  display: flex;
  flex-direction: column;
}